
@font-face {
    font-family: "Kanit-Regular";

    src: url("../../../assets/fonts/Kanit-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
span,
a,
h1,
h5,
h6,
p,
label,
option,
select,
input,
text,
textarea,
table,
button {
    font-family: Kanit-Regular;
    /* font-size: 2vw; */
}