@font-face {
  font-family: "THSarabunNew";

  src: url("../../../assets/fonts/THSarabunNew.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

a,
h1,
h2,
h5,
h6,
p,
label,
option,
select,
input,
text,
textarea,
div,
button {
  font-family: THSarabunNew;
  font-size: 20px;
  font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: gray;
  border-radius: 15px;
}