
@font-face {
    font-family: "Kanit-Regular";

    src: url("../../../assets/fonts/Kanit-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
span,
a,
h1,
h5,
p,
label,
option,
select,
input,
text,
textarea,
button {
    font-family: Kanit-Regular;
    /* font-size: 2vw; */
}

/* font THSARABUN */
@font-face {
    font-family: "THSarabunNew";

    src: url("../../../assets/fonts/THSarabunNew.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

a,
h1,
h5,
h6,
p,
label,
option,
select,
input,
text,
textarea,
span,
div,
button {
    font-family: THSarabunNew;
    font-size: 20px;
    font-weight: bold;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* on - off */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }
  
  .switch input[type="radio"] {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + .slider {
    background-color: #2196F3;
  }
  
  input[type="radio"]:checked + .slider:before {
    transform: translateX(20px);
  }