<main>
    <!-- <div class="carousel-item active"> <img src="assets/img/coconut.jpg" style="opacity: 0.5;" class="d-block w-100">
    </div> -->
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="card mb-3">
                            <div class="card-body">
                                <form class="row g-3 needs-validation" novalidate>
                                    <div class="col-6" style="text-align: center;">
                                        <label for="yourUsername" class="form-label">ประชาชน</label>
                                        <div class="input-group has-validation">
                                            <!-- <i class="bx bxs-report" style="font-size:50px;color: #dc2a54;"
                                                (click)="route_person()"></i> -->
                                            <img src="assets/img/actor/farmer.png" style="opacity: 0.5;cursor:pointer;"
                                                class="d-block w-50" (click)="route_person()">
                                        </div>
                                    </div>
                                    <div class="col-6" style="text-align: center;">
                                        <label for="yourUsername" class="form-label">ผู้ตรวจสอบ</label>
                                        <div class="input-group has-validation">
                                            <!-- <i class="bx bxs-report" style="font-size:50px;color: #dc2a54;"
                                                (click)="route_page_login_employee()"></i> -->
                                            <img src="assets/img/actor/consultant.png"
                                                style="opacity: 0.5;cursor:pointer;" class="d-block w-50"
                                                (click)="route_page_login_employee()">

                                            <div class="invalid-feedback">Please enter your e-mail.</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- <div class="credits"> Loved by <a href="https://freeetemplates.com/">FreeeTemplates</a></div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- <div class="col-lg-6">
       <div class="card-body">
 
          <div class="modal fade" id="verticalycentered" tabindex="-1">
             <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                   <div class="modal-header">
                      <h5 class="modal-title">รหัสผ่านผิดพลาด</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body"> <p>กรุณากรอกอีเมลล์และพาสเวิร์ดเพื่อเข้าสู่ระบบ</p></div>
                   <div class="modal-footer"> <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Close</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div> -->
</main>